# Dependencies
node_modules/
.pnp
.pnp.js

# Build
.next/
dist/
out/
.vercel/

# Env
.env
.env.local
.env.*.local
!.env.example

# Testing
coverage/
playwright-report/
test-results/

# Misc
.DS_Store
*.pem
.turbo/
